version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: my_postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 7853
    ports:
      - "5433:5432"   
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
